@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-moz-selection {
  background-color: #00695e;
  color: #f2f2f2;
}

::selection {
  background-color: #00695e;
  color: #f2f2f2;
}

@layer base {
  .tw-cstm-flex-col {
    @apply tw-flex tw-flex-col tw-justify-center tw-items-center;
  }

  .tw-cstm-flex-row {
    @apply tw-flex tw-flex-row tw-justify-center tw-items-center;
  }
}
